<a href="https://colab.research.google.com/github/phyllsmoyo/Projects/blob/branch_1/Project_Advertising_Sales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://github.com/phyllsmoyo/Projects)

In [5]:
#Import libraries
import pandas as pd
import numpy as np

In [22]:
#Import the Dataset into a pandas DataFrame
!wget 'https://github.com/phyllsmoyo/Projects/blob/branch_1/Advertising%20Budget%20and%20Sales.csv'
df_data = pd.read_csv('/content/Advertising Budget and Sales.csv', index_col=0)

--2020-12-23 13:30:01--  https://github.com/phyllsmoyo/Projects/blob/branch_1/Advertising%20Budget%20and%20Sales.csv
Resolving github.com (github.com)... 140.82.112.4
Connecting to github.com (github.com)|140.82.112.4|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘Advertising Budget and Sales.csv.3’

Advertising Budget      [ <=>                ] 139.12K   754KB/s    in 0.2s

2020-12-23 13:30:02 (754 KB/s) - ‘Advertising Budget and Sales.csv.3’ saved [142454]

In [11]:
#View the first 5 records
df_data.head(5)

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1             230.1                 37.8                     69.2       22.1
2              44.5                 39.3                     45.1       10.4
3              17.2                 45.9                     69.3        9.3
4             151.5                 41.3                     58.5       18.5
5             180.8                 10.8                     58.4       12.9

The dataset has threee features; TV Ads, Radio Ads and Newspaper Ads and the the target is Sales.

In [23]:
#View the size of the dataset
df_data.shape

(200, 4)

The Dataset has 200 records and 4 columns

In [15]:
#View the columns of the dataset
df_data.columns

Index(['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)',
       'Sales ($)'],
      dtype='object')

In [25]:
#Create a feature object from the dataset
X = df_data[['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)']]
X.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
1             230.1                 37.8                     69.2
2              44.5                 39.3                     45.1
3              17.2                 45.9                     69.3
4             151.5                 41.3                     58.5
5             180.8                 10.8                     58.4

In [26]:
y = df_data[['Sales ($)']]
y.head()

   Sales ($)
1       22.1
2       10.4
3        9.3
4       18.5
5       12.9

In [31]:
print(X.shape, y.shape, sep='\n')

(200, 3)
(200, 1)

In [ ]:
#Split Test and Training sets
from sklearn.preprocessing import train_test_split